In [5]:
# Import our dependencies
import pandas as pd

import matplotlib.pyplot as plt

#  Import and read the cardio_train.csv.
import pandas as pd 
trial_df = pd.read_csv("cardio_train.csv", sep=";")
trial_df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [6]:
#Check for duplicatess 
trial_df.duplicated(subset=['id']).value_counts()

False    70000
dtype: int64

In [7]:
sample_df = trial_df.sample(frac=0.25, random_state=1)
sample_df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
6670,9510,16099,1,153,93.0,140,90,1,1,0,0,1,1
49567,70773,14437,1,157,89.0,120,80,1,1,0,0,1,1
50796,72486,19839,1,165,66.0,150,90,1,1,0,0,1,1
22310,31877,18050,2,176,88.0,160,100,2,2,1,1,1,1
54037,77086,16819,2,165,78.0,140,90,1,1,0,0,0,1

In [8]:
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17500 entries, 6670 to 30231
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           17500 non-null  int64
 1   age          17500 non-null  int64
 2   gender       17500 non-null  int64
 3   height       17500 non-null  int64
 4   weight       17500 non-null  float64
 5   ap_hi        17500 non-null  int64
 6   ap_lo        17500 non-null  int64
 7   cholesterol  17500 non-null  int64
 8   gluc         17500 non-null  int64
 9   smoke        17500 non-null  int64
 10  alco         17500 non-null  int64
 11  active       17500 non-null  int64
 12  cardio       17500 non-null  int64
dtypes: float64(1), int64(12)
memory usage: 1.9 MB

In [9]:
sample_df.to_csv("sample.csv", index=False)