In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
# import dependancies
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

# Read the Cardio CSV

In [3]:
# Load the data
file_path = Path('Resources/cardio_train.csv')
cardio_df = pd.read_csv(file_path, sep=';')

cardio_df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [4]:
# convert age to years
cardio_df['age_year'] = (cardio_df['age']/365).round(0)
cardio_df.head()

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_year
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0,50.0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1,55.0
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1,52.0
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1,48.0
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0,48.0

# Split the Data into Training and Testing

In [88]:
# drop the irrelevent columns from the dataframe
cardio_train_df = cardio_df.drop(columns=['id','age'])
cardio_train_df.head()

,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,year
0,2,168,62.0,110,80,1,1,0,0,1,0,50.0
1,1,156,85.0,140,90,3,1,0,0,1,1,55.0
2,1,165,64.0,130,70,3,1,0,0,0,1,52.0
3,2,169,82.0,150,100,1,1,0,0,1,1,48.0
4,1,156,56.0,100,60,1,1,0,0,0,0,48.0

In [89]:
cardio_train_df.describe()

,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,year
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,1.349571,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700,53.338686
std,0.476838,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003,6.765294
min,1.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,30.000000
25%,1.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,48.000000
50%,1.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,54.000000
75%,2.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000,58.000000
max,2.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,65.000000

In [90]:
# Create our features
X = pd.get_dummies(cardio_train_df, columns=['year','gender', 'height', 'weight', 'ap_hi', 
                'ap_lo', 'cholesterol', 'gluc', 'smoke', 
                'alco','active']).drop('cardio', axis=1)

# Create our target
y = cardio_train_df['cardio']

In [91]:
X.describe()

,year_30.0,year_39.0,year_40.0,year_41.0,year_42.0,year_43.0,year_44.0,year_45.0,year_46.0,year_47.0,...,cholesterol_3,gluc_1,gluc_2,gluc_3,smoke_0,smoke_1,alco_0,alco_1,active_0,active_1
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,...,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,0.000057,0.005843,0.038571,0.010943,0.037486,0.009857,0.040529,0.010814,0.042214,0.010771,...,0.115229,0.849700,0.074143,0.076157,0.911871,0.088129,0.946229,0.053771,0.196271,0.803729
std,0.007559,0.076215,0.192573,0.104035,0.189950,0.098793,0.197197,0.103429,0.201079,0.103226,...,0.319300,0.357368,0.262005,0.265251,0.283484,0.283484,0.225568,0.225568,0.397179,0.397179
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [92]:
# Check the balance of our target values
y.value_counts()

0    35021
1    34979
Name: cardio, dtype: int64

In [93]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

## Random Forest Classifier

In [94]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.714

In [97]:
# Display the confusion matrix
cm = confusion_matrix(y_test, y_pred)
# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual high_risk", "Actual low_risk"], columns=["Predicted high_risk", "Predicted low_risk"])
cm_df

                  Predicted high_risk  Predicted low_risk
Actual high_risk                 6456                2299
Actual low_risk                  2702                6043

In [98]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.70      0.74      0.69      0.72      0.71      0.51      8755
          1       0.72      0.69      0.74      0.71      0.71      0.51      8745

avg / total       0.71      0.71      0.71      0.71      0.71      0.51     17500

In [99]:
# List the features sorted in descending order by feature importance
importances = brf_model.feature_importances_
sorted(zip(brf_model.feature_importances_, X.columns), reverse=True)

[(0.032322971077620444, 'ap_hi_112'),
 (0.03188505309811998, 'ap_hi_80'),
 (0.02827068373571232, 'ap_lo_62'),
 (0.02221367231412267, 'ap_hi_12'),
 (0.01982128971771378, 'ap_hi_122'),
 (0.01813216498502293, 'ap_lo_1111'),
 (0.017817993878650833, 'ap_lo_8'),
 (0.015617029397488482, 'ap_lo_1125'),
 (0.014595348727965229, 'ap_lo_72'),
 (0.014188457764757604, 'ap_lo_52'),
 (0.013563738016501323, 'year_30.0'),
 (0.013503458469958828, 'year_39.0'),
 (0.012987255885133489, 'height_137'),
 (0.012581179287551415, 'ap_hi_132'),
 (0.011612923412566112, 'height_132'),
 (0.011078493947518992, 'height_142'),
 (0.011042937754700157, 'active_0'),
 (0.010999812454101048, 'weight_63.82'),
 (0.010900800799339644, 'height_140'),
 (0.01046924041334626, 'weight_59.2'),
 (0.010374193080882188, 'cholesterol_1'),
 (0.010095239192819875, 'ap_hi_102'),
 (0.009830007916219501, 'cholesterol_3'),
 (0.009427670371419781, 'height_136'),
 (0.009190454511934032, 'ap_lo_10000'),
 (0.009011669981033359, 'weight_200.0'),
 (0.008936082509883168, 'ap_lo_5700'),
 (0.008764280486579087, 'gluc_2'),
 (0.008736472839457192, 'smoke_0'),
 (0.008718518705378778, 'height_134'),
 (0.008713467773396735, 'ap_lo_2088'),
 (0.008709828507286823, 'alco_0'),
 (0.008700533673292946, 'height_130'),
 (0.008665064873840812, 'weight_68.5'),
 (0.008252222054023034, 'ap_lo_1139'),
 (0.008190550630401984, 'ap_hi_11020'),
 (0.008175315756358692, 'height_141'),
 (0.008132356615027751, 'weight_72.0'),
 (0.007970717721652237, 'weight_62.0'),
 (0.007945411098693074, 'weight_53.2'),
 (0.007901739487499204, 'weight_66.0'),
 (0.007878957715120928, 'weight_63.0'),
 (0.007821346227303726, 'ap_lo_7100'),
 (0.007776051753407934, 'height_139'),
 (0.007731643954868068, 'height_125'),
 (0.007509228047964982, 'height_135'),
 (0.0074546584319193695, 'ap_lo_9100'),
 (0.007334686281190226, 'weight_70.7'),
 (0.007205192605048519, 'ap_lo_1120'),
 (0.006955673552694504, 'ap_lo_8500'),
 (0.006811738298376886, 'weight_67.9'),
 (0.0064093896609790455, 'weight_54.9'),
 (0.00636653505033014, 'height_144'),
 (0.006121007373051839, 'height_131'),
 (0.0061189263929646125, 'ap_lo_8044'),
 (0.006098677000252, 'height_138'),
 (0.006042093467465235, 'weight_60.6'),
 (0.0058915323043158465, 'weight_56.2'),
 (0.005741842790617231, 'weight_69.8'),
 (0.005660717163583296, 'weight_57.8'),
 (0.005658817837469074, 'weight_60.0'),
 (0.0056505053350333345, 'height_128'),
 (0.0056161048129360555, 'ap_lo_1211'),
 (0.005609342545326006, 'weight_64.8'),
 (0.005593503828817391, 'height_133'),
 (0.005539923040328365, 'ap_lo_8100'),
 (0.005508440709144904, 'weight_78.2'),
 (0.0054554498716523105, 'ap_lo_1140'),
 (0.005452364340754423, 'ap_lo_1177'),
 (0.005445414584232697, 'ap_lo_1200'),
 (0.005405845857880653, 'height_147'),
 (0.005341746578227757, 'height_122'),
 (0.0053248536372873835, 'height_146'),
 (0.005168015369057556, 'ap_lo_8079'),
 (0.005151745969732899, 'weight_73.8'),
 (0.0050283880722301584, 'weight_71.2'),
 (0.004969932287608411, 'weight_67.0'),
 (0.004900190400789722, 'height_120'),
 (0.004784325308561784, 'weight_81.1'),
 (0.00464426617408259, 'weight_50.0'),
 (0.004522157329969007, 'cholesterol_2'),
 (0.004458403832201717, 'weight_75.6'),
 (0.0044321576409227445, 'ap_lo_11000'),
 (0.004397672059691065, 'gluc_3'),
 (0.004380158523555886, 'ap_lo_1400'),
 (0.004311648050829638, 'height_143'),
 (0.004261961812087746, 'height_150'),
 (0.004227488218535742, 'gluc_1'),
 (0.004220069645541523, 'ap_lo_1900'),
 (0.004182040666504876, 'weight_70.5'),
 (0.004134140896486161, 'weight_51.5'),
 (0.004019194044037588, 'weight_75.0'),
 (0.003931574313150406, 'height_112'),
 (0.0039260252142180605, 'weight_73.2'),
 (0.003858593910090399, 'height_119'),
 (0.0038428339042765754, 'height_117'),
 (0.003785827644208614, 'smoke_1'),
 (0.00373367974037375, 'ap_lo_9800'),
 (0.003721750253882806, 'alco_1'),
 (0.0037109801003701133, 'weight_79.0'),
 (0.00370555078236977, 'weight_45.0'),
 (0.0036636282417525355, 'weight_53.9'),
 (0.0035898698173825166, 'ap_lo_9011'),
 (0.0035421255691327896, 'height_148'),
 (0.0034939394952599595, 'height_145'),
 (0.003465045432482129, 'weight_79.94'),
 (0.0033910785834358635, 'weight_80.0'),
 (0.0033571604792507763, 'weight_80.6'),
 (0.0033055360433548154, 'ap_hi_142'),
 (0.0032476477039559805, 'height_152'),
 (0.003215641326142208, 'weight_84.0'),
 (0.0030829748703415805, 'weight_175.0'),
 (0.0030472647544407773, 'weight_42.0'),
 (0.0028215606591697525, 'weight_46.0'),
 (0.0028019412010594886, 'weight_82.4'),
 (0.002700516497384278, 'weight_85.0'),
 (0.0026909346229474045, 'ap_hi_152'),
 (0.0026338959695337218, 'height_113'),
 (0.0026059298703359412, 'ap_lo_130'),
 (0.00251614856961208, 'ap_lo_8000'),
 (0.002490877170425735, 'ap_lo_8200'),
 (0.0024356809655898207, 'ap_lo_8099'),
 (0.002411531977878618, 'weight_38.0'),
 (0.0023356311212502077, 'weight_82.9'),
 (0.0022931173211351422, 'weight_84.7'),
 (0.002263987311212684, 'weight_83.0'),
 (0.0022334212564296997, 'weight_30.0'),
 (0.0019918611173388927, 'weight_21.0'),
 (0.001986632843355224, 'weight_88.0'),
 (0.0019578923479834295, 'weight_82.3'),
 (0.0019469674762677654, 'ap_lo_8077'),
 (0.0019286935533633744, 'weight_84.3'),
 (0.0019078150377051257, 'height_151'),
 (0.001865443020102398, 'weight_84.6'),
 (0.0018440407232656788, 'height_149'),
 (0.0017749313549194799, 'weight_32.0'),
 (0.00173854162519796, 'ap_hi_96'),
 (0.0017359808783206686, 'active_1'),
 (0.001592814567618275, 'ap_lo_7099'),
 (0.001482977075611072, 'height_111'),
 (0.0014550022404691667, 'height_110'),
 (0.0013886069533745043, 'height_154'),
 (0.0013860057413134148, 'ap_lo_82'),
 (0.0013650731765999472, 'ap_lo_50'),
 (0.0013438562423767491, 'weight_86.0'),
 (0.0013134457142056168, 'weight_86.5'),
 (0.001208533824924844, 'ap_hi_17'),
 (0.0011969848059019735, 'height_109'),
 (0.0011963411120610888, 'weight_92.0'),
 (0.0011647336728105786, 'height_157'),
 (0.0011380624522606183, 'weight_84.8'),
 (0.0011376912395069355, 'weight_28.0'),
 (0.0010667302621093341, 'height_153'),
 (0.0010189909597648971, 'ap_hi_117'),
 (0.0009369897087218285, 'weight_11.0'),
 (0.0009363598833233898, 'weight_90.0'),
 (0.0009225770251569203, 'weight_85.5'),
 (0.0008906777630951046, 'ap_hi_107'),
 (0.0008906681144480558, 'ap_lo_57'),
 (0.0008869904346046, 'weight_87.0'),
 (0.0008789697529322408, 'ap_lo_30'),
 (0.0008680664576282699, 'height_155'),
 (0.0008046067060926424, 'height_105'),
 (0.0007882034026213403, 'height_156'),
 (0.0007692176146561483, 'height_108'),
 (0.0007593033110197643, 'weight_10.0'),
 (0.0007326578723722471, 'weight_93.0'),
 (0.0006806401282397251, 'weight_99.0'),
 (0.0006581369620491624, 'weight_95.0'),
 (0.0006375499612051485, 'ap_hi_158'),
 (0.0006210266908766199, 'ap_lo_90'),
 (0.0006194797787776877, 'weight_89.0'),
 (0.0006071194485935912, 'ap_lo_708'),
 (0.0006059115422599169, 'height_250'),
 (0.0005715641616946834, 'ap_lo_67'),
 (0.0005611232700178076, 'height_104'),
 (0.0005575045802031865, 'weight_90.5'),
 (0.0005368994866986518, 'weight_89.9'),
 (0.0005355139379803858, 'height_198'),
 (0.0005208829496786521, 'height_159'),
 (0.0005026254312037562, 'height_207'),
 (0.0004984398164535422, 'ap_lo_61'),
 (0.0004982690245474183, 'height_158'),
 (0.00045935662865688605, 'weight_161.0'),
 (0.0004499888715653489, 'ap_hi_127'),
 (0.00042563300184692986, 'height_196'),
 (0.0004218627905341583, 'weight_92.2'),
 (0.00041847739158902157, 'ap_lo_7'),
 (0.0003930739047905979, 'weight_107.0'),
 (0.00038559965142618364, 'weight_94.0'),
 (0.0003840083400661477, 'weight_96.0'),
 (0.00038068137538193854, 'weight_96.5'),
 (0.00036925027326746763, 'ap_hi_165'),
 (0.00036656662823969055, 'ap_hi_-100'),
 (0.00036069423989481023, 'weight_94.5'),
 (0.0003441561696887741, 'ap_hi_1202'),
 (0.00032933203372935947, 'ap_lo_-70'),
 (0.00032423091250536923, 'height_194'),
 (0.0003122377876133622, 'weight_171.0'),
 (0.0003114680398640405, 'height_97'),
 (0.0003073843845191628, 'weight_97.0'),
 (0.0002910395840177937, 'height_65'),
 (0.0002802632708141805, 'height_162'),
 (0.00027353744995397536, 'height_100'),
 (0.0002700877647064086, 'weight_103.0'),
 (0.0002657592854010754, 'height_197'),
 (0.00024618134391515785, 'height_160'),
 (0.00021458451392393277, 'height_192'),
 (0.00020751996657011776, 'height_161'),
 (0.0002032644975347317, 'ap_lo_54'),
 (0.00020064489720282512, 'ap_hi_100'),
 (0.00019984948882703684, 'weight_105.0'),
 (0.00019726332331597568, 'weight_98.0'),
 (0.00017872905298119482, 'weight_160.0'),
 (0.00016795586599178695, 'ap_lo_95'),
 (0.0001669293444575708, 'height_99'),
 (0.000161872482055609, 'ap_lo_97'),
 (0.00016054553416692193, 'weight_104.0'),
 (0.00015906754935422724, 'ap_lo_56'),
 (0.00015595899200496725, 'height_193'),
 (0.00015545699080711034, 'ap_hi_99'),
 (0.0001537641825377385, 'weight_170.0'),
 (0.00015199320715876378, 'weight_163.0'),
 (0.00015083459657353054, 'weight_110.0'),
 (0.00014909486842000686, 'ap_hi_2000'),
 (0.0001484656908295791, 'ap_hi_137'),
 (0.00014279676281571152, 'weight_122.0'),
 (0.00014093254069500732, 'weight_102.0'),
 (0.00014019448224045073, 'ap_lo_49'),
 (0.000136512798718105, 'ap_hi_168'),
 (0.00013642045775161596, 'weight_106.0'),
 (0.0001351297322690354, 'ap_lo_10'),
 (0.00012980212644895416, 'ap_lo_58'),
 (0.00012961678168381676, 'weight_105.5'),
 (0.00012646638949703293, 'ap_hi_104'),
 (0.00012397907349043704, 'weight_108.0'),
 (0.0001159304678727936, 'ap_lo_20'),
 (0.00011529779023620582, 'ap_hi_14'),
 (0.00011418975360342778, 'weight_178.0'),
 (0.00011331209805761841, 'ap_lo_55'),
 (0.00011304433218647502, 'ap_lo_64'),
 (0.00011289312621219718, 'ap_hi_70'),
 (0.00011118228887475301, 'ap_hi_95'),
 (0.00010919493869610189, 'ap_hi_230'),
 (0.00010852987700058353, 'ap_hi_24'),
 (0.00010356613642793536, 'ap_hi_120'),
 (0.00010283878663621754, 'weight_106.4'),
 (0.00010094858775681624, 'ap_hi_106'),
 (0.00010071260284848095, 'height_170'),
 (0.000100087401739199, 'weight_99.9'),
 (9.798305392632048e-05, 'ap_hi_90'),
 (9.648247515474224e-05, 'ap_lo_40'),
 (9.535465747878261e-05, 'ap_lo_45'),
 (9.368708127498038e-05, 'ap_hi_113'),
 (8.823009523486597e-05, 'height_98'),
 (8.772532179850442e-05, 'ap_hi_907'),
 (8.650178140610308e-05, 'weight_162.0'),
 (8.640863614646755e-05, 'ap_hi_93'),
 (8.482811252810654e-05, 'ap_lo_66'),
 (8.477550569532005e-05, 'height_190'),
 (8.240075023056288e-05, 'ap_hi_170'),
 (8.135906365896103e-05, 'ap_lo_60'),
 (8.037306028048024e-05, 'ap_hi_125'),
 (8.02674932759138e-05, 'weight_164.0'),
 (7.917512091199319e-05, 'ap_lo_68'),
 (7.882381152517092e-05, 'ap_hi_16'),
 (7.812729376936598e-05, 'ap_lo_0'),
 (7.747290810050452e-05, 'ap_lo_15'),
 (7.692355473602084e-05, 'ap_hi_13'),
 (7.684578933153416e-05, 'height_191'),
 (7.594110775048911e-05, 'ap_lo_59'),
 (7.560989816991466e-05, 'ap_lo_850'),
 (7.547108400011225e-05, 'ap_lo_71'),
 (7.286580483409145e-05, 'ap_hi_85'),
 (7.236540399371056e-05, 'weight_109.7'),
 (7.190882868199755e-05, 'ap_hi_108'),
 (7.182809486583648e-05, 'ap_hi_105'),
 (7.175536357318136e-05, 'ap_lo_53'),
 (7.174878952298863e-05, 'height_163'),
 (7.121739013854771e-05, 'ap_lo_1'),
 (6.998570326884916e-05, 'ap_hi_15'),
 (6.960297725833892e-05, 'ap_lo_69'),
 (6.837695941079159e-05, 'ap_hi_60'),
 (6.766298024184733e-05, 'ap_lo_70'),
 (6.650017359136869e-05, 'ap_hi_114'),
 (6.553176083342329e-05, 'weight_106.5'),
 (6.548435624215204e-05, 'ap_hi_136'),
 (6.532166275608869e-05, 'ap_hi_155'),
 (6.51405506455589e-05, 'ap_hi_110'),
 (6.455934102249482e-05, 'weight_113.0'),
 (6.453773033415106e-05, 'ap_lo_77'),
 (6.450850718281576e-05, 'weight_119.0'),
 (6.407877903642965e-05, 'ap_hi_97'),
 (6.358812350996402e-05, 'ap_lo_1011'),
 (6.137551627201682e-05, 'ap_lo_98'),
 (6.087700933762452e-05, 'ap_lo_99'),
 (6.0218147502393734e-05, 'weight_127.0'),
 (5.966712262663524e-05, 'ap_hi_134'),
 (5.946455058351251e-05, 'ap_hi_147'),
 (5.6254191289764296e-05, 'ap_hi_126'),
 (5.562442893213987e-05, 'ap_lo_9'),
 (5.490303155300279e-05, 'ap_lo_113'),
 (5.484823663816272e-05, 'ap_lo_6'),
 (5.4415554887068165e-05, 'ap_hi_121'),
 (5.405120909333943e-05, 'ap_hi_140'),
 (5.266678932075501e-05, 'ap_hi_111'),
 (5.2572676291851755e-05, 'weight_111.0'),
 (5.255111074979991e-05, 'ap_hi_101'),
 (5.2236797258422135e-05, 'weight_62.5'),
 (5.185165017643339e-05, 'weight_58.7'),
 (5.0710244700668054e-05, 'ap_hi_109'),
 (4.995362251356e-05, 'ap_hi_115'),
 (4.945407411448042e-05, 'ap_hi_11'),
 (4.9076566154028094e-05, 'height_81'),
 (4.90604693791532e-05, 'ap_hi_116'),
 (4.896408612918156e-05, 'ap_hi_119'),
 (4.866157303956899e-05, 'weight_138.0'),
 (4.849030974377511e-05, 'ap_hi_143'),
 (4.8227197122308315e-05, 'ap_hi_10'),
 (4.814891926204036e-05, 'ap_hi_130'),
 (4.789856251790555e-05, 'weight_109.0'),
 (4.745263481037776e-05, 'weight_35.0'),
 (4.620572809959217e-05, 'ap_hi_1620'),
 (4.6181355791337605e-05, 'weight_123.0'),
 (4.581213779543095e-05, 'weight_114.6'),
 (4.5555404963368306e-05, 'ap_hi_960'),
 (4.49964757542402e-05, 'ap_hi_-120'),
 (4.484602779760686e-05, 'weight_135.0'),
 (4.467719706765397e-05, 'ap_lo_73'),
 (4.4650423677904976e-05, 'ap_hi_7'),
 (4.398307878928857e-05, 'ap_hi_128'),
 (4.385656255696529e-05, 'height_189'),
 (4.357787563727787e-05, 'ap_hi_1'),
 (4.3402800379616833e-05, 'weight_75.5'),
 (4.331288283749435e-05, 'ap_lo_63'),
 (4.3288931125314076e-05, 'ap_hi_16020'),
 (4.319435958965304e-05, 'weight_63.8'),
 (4.316993830472021e-05, 'weight_116.0'),
 (4.307791910191164e-05, 'ap_lo_65'),
 (4.260272442433656e-05, 'ap_hi_138'),
 (4.237189674505532e-05, 'ap_hi_123'),
 (4.1104585444944095e-05, 'weight_83.6'),
 (3.934364646756742e-05, 'height_70'),
 (3.903970677975794e-05, 'ap_hi_141'),
 (3.844736487908198e-05, 'height_164'),
 (3.7475313474764426e-05, 'gender_2'),
 (3.7452912234201155e-05, 'ap_lo_107'),
 (3.67580917260604e-05, 'ap_hi_902'),
 (3.635292443963178e-05, 'ap_lo_81'),
 (3.6340831770827074e-05, 'ap_lo_84'),
 (3.628174164074047e-05, 'year_58.0'),
 (3.618695514311137e-05, 'weight_172.0'),
 (3.586237822819297e-05, 'ap_hi_13010'),
 (3.4869687624790435e-05, 'weight_55.2'),
 (3.4858497932847065e-05, 'ap_hi_144'),
 (3.4823122799236595e-05, 'weight_115.0'),
 (3.445556416350009e-05, 'height_96'),
 (3.433632847529223e-05, 'ap_hi_14020'),
 (3.426754354779569e-05, 'ap_hi_20'),
 (3.392098648609116e-05, 'ap_hi_118'),
 (3.29813409245066e-05, 'weight_121.8'),
 (3.234670683745305e-05, 'weight_80.5'),
 (3.217528731082466e-05, 'ap_lo_85'),
 (3.2167163499857816e-05, 'height_80'),
 (3.216239852087332e-05, 'ap_hi_131'),
 (3.212978892656029e-05, 'ap_hi_124'),
 (3.167615124297679e-05, 'height_76'),
 (3.1409001743864165e-05, 'ap_hi_172'),
 (3.110013848645037e-05, 'ap_hi_148'),
 (3.1022550279712146e-05, 'height_72'),
 (3.074153837969888e-05, 'ap_lo_78'),
 (3.060803945718823e-05, 'ap_hi_210'),
 (2.9901587000380063e-05, 'weight_76.0'),
 (2.9708124985742622e-05, 'height_168'),
 (2.9386565074131377e-05, 'ap_lo_118'),
 (2.91793248880461e-05, 'weight_118.0'),
 (2.8982853024642514e-05, 'ap_hi_-140'),
 (2.869073542389861e-05, 'weight_128.0'),
 (2.858643676129026e-05, 'height_169'),
 (2.8120021724836443e-05, 'ap_hi_1409'),
 (2.8059695370486293e-05, 'weight_31.0'),
 (2.7818922661779323e-05, 'ap_lo_110'),
 (2.7715215784676895e-05, 'height_91'),
 (2.707334965252734e-05, 'weight_140.0'),
 (2.6955333631537875e-05, 'ap_hi_-115'),
 (2.6834847684829283e-05, 'year_53.0'),
 (2.673038651216368e-05, 'height_75'),
 (2.6591305735673205e-05, 'ap_lo_1002'),
 (2.6475953340550626e-05, 'ap_lo_125'),
 (2.583382550992228e-05, 'height_176'),
 (2.533925654310036e-05, 'weight_74.2'),
 (2.5132646243545198e-05, 'year_62.0'),
 (2.4767575459011276e-05, 'weight_78.5'),
 (2.4692684737960092e-05, 'ap_hi_909'),
 (2.3692022453914138e-05, 'height_188'),
 (2.3691621497927084e-05, 'ap_hi_11500'),
 (2.328777392944367e-05, 'height_180'),
 (2.3048070076849878e-05, 'ap_hi_178'),
 (2.288009362003067e-05, 'height_60'),
 (2.2665537780441605e-05, 'weight_62.7'),
 (2.2180898272625253e-05, 'ap_hi_191'),
 (2.200795029851397e-05, 'ap_hi_207'),
 (2.1648302871599528e-05, 'weight_55.6'),
 (2.141229293210316e-05, 'ap_lo_108'),
 (2.0991330890372857e-05, 'ap_hi_157'),
 (2.095475882983097e-05, 'weight_64.3'),
 (2.0909526038064568e-05, 'weight_71.3'),
 (2.086633040685008e-05, 'weight_159.0'),
 (2.0803082257508355e-05, 'weight_166.0'),
 (2.042372572140228e-05, 'ap_lo_820'),
 (2.0285419098144043e-05, 'weight_167.0'),
 (1.992286011925173e-05, 'ap_lo_112'),
 (1.981285116136781e-05, 'year_56.0'),
 (1.9416496654566074e-05, 'height_165'),
 (1.9392052224231982e-05, 'ap_lo_76'),
 (1.926238523020884e-05, 'ap_hi_190'),
 (1.9070265708249516e-05, 'ap_hi_139'),
 (1.809023703513319e-05, 'height_59'),
 (1.7910974931492223e-05, 'weight_61.2'),
 (1.774268168028363e-05, 'ap_hi_135'),
 (1.7659933328574543e-05, 'ap_hi_133'),
 (1.7410772430063377e-05, 'weight_63.4'),
 (1.731572803865914e-05, 'height_167'),
 (1.7312213938694217e-05, 'weight_131.0'),
 (1.6984556875755038e-05, 'ap_hi_151'),
 (1.6546499440752932e-05, 'ap_hi_187'),
 (1.6232054563185855e-05, 'gender_1'),
 (1.614293187112625e-05, 'weight_69.0'),
 (1.6142146047570175e-05, 'height_71'),
 (1.5913206158669788e-05, 'weight_183.0'),
 (1.5884198701955195e-05, 'ap_lo_94'),
 (1.5719451416633016e-05, 'ap_hi_103'),
 (1.553695834914889e-05, 'height_183'),
 (1.547680739129334e-05, 'ap_hi_146'),
 (1.4939256657196305e-05, 'weight_114.0'),
 (1.4934977256315923e-05, 'weight_50.7'),
 (1.4898750409412552e-05, 'weight_74.5'),
 (1.479054802519979e-05, 'ap_lo_880'),
 (1.4655672504724212e-05, 'weight_72.1'),
 (1.4610841680168217e-05, 'weight_158.0'),
 (1.4522244377933475e-05, 'year_47.0'),
 (1.4422131762074106e-05, 'ap_lo_900'),
 (1.4344377434589259e-05, 'ap_hi_129'),
 (1.4048523517407195e-05, 'weight_132.0'),
 (1.4021182547655528e-05, 'height_178'),
 (1.3994578002736082e-05, 'year_45.0'),
 (1.3845517023549443e-05, 'height_66'),
 (1.363031117254104e-05, 'weight_120.0'),
 (1.3624740397116526e-05, 'ap_hi_1130'),
 (1.3581402605738897e-05, 'ap_lo_710'),
 (1.3294543379447118e-05, 'weight_55.4'),
 (1.2938940440818951e-05, 'weight_66.4'),
 (1.2852144919068643e-05, 'ap_hi_174'),
 (1.2377656160152664e-05, 'weight_79.5'),
 (1.2248120024025944e-05, 'year_49.0'),
 (1.2216059518594205e-05, 'ap_lo_180'),
 (1.2118797509586204e-05, 'ap_lo_6800'),
 (1.1787885418231854e-05, 'ap_lo_1088'),
 (1.1740213341405657e-05, 'weight_137.0'),
 (1.1698550831114986e-05, 'ap_lo_75'),
 (1.1480474585393303e-05, 'ap_hi_906'),
 (1.1256904576372148e-05, 'ap_lo_86'),
 (1.1102989166732922e-05, 'ap_hi_177'),
 (1.0964160550337761e-05, 'weight_71.0'),
 (1.094666326038549e-05, 'ap_lo_135'),
 (1.0917604163221141e-05, 'ap_lo_100'),
 (1.0793495414694436e-05, 'ap_hi_159'),
 (1.0669270601209736e-05, 'weight_94.7'),
 (1.0514178600717802e-05, 'ap_lo_103'),
 (1.04244057582641e-05, 'weight_155.0'),
 (1.0392549891491674e-05, 'ap_hi_-150'),
 (1.0345993139575346e-05, 'year_41.0'),
 (1.0182210048001717e-05, 'weight_62.4'),
 (9.821422031696812e-06, 'weight_72.8'),
 (9.797771311639453e-06, 'weight_144.0'),
 (9.793542579920986e-06, 'ap_hi_1500'),
 (9.762731101835236e-06, 'ap_hi_160'),
 (9.581095523527443e-06, 'weight_29.0'),
 (9.57117871728917e-06, 'weight_109.5'),
 (9.468164438240071e-06, 'ap_hi_240'),
 (9.311973307419367e-06, 'ap_lo_101'),
 (9.082339186594715e-06, 'weight_61.0'),
 (8.919693707460679e-06, 'weight_67.8'),
 (8.905700570190034e-06, 'ap_lo_190'),
 (8.86790299456037e-06, 'ap_hi_179'),
 (8.843319805631599e-06, 'ap_lo_106'),
 (8.826281252255765e-06, 'ap_hi_1205'),
 (8.717516738904024e-06, 'ap_hi_150'),
 (8.698067344303342e-06, 'ap_lo_74'),
 (8.695279709252226e-06, 'weight_68.2'),
 (8.605381748071022e-06, 'year_54.0'),
 (8.593680971540376e-06, 'weight_54.5'),
 (8.588490893863197e-06, 'weight_81.0'),
 (8.572876101095239e-06, 'ap_hi_1300'),
 (8.345801750605222e-06, 'ap_lo_1077'),
 (8.296486725180498e-06, 'year_64.0'),
 (8.195370905267412e-06, 'weight_169.0'),
 (8.066379861722024e-06, 'height_166'),
 (8.04257379424997e-06, 'weight_149.0'),
 (7.86392551755233e-06, 'year_48.0'),
 (7.682636880487837e-06, 'weight_142.0'),

## SMOTEENN

In [101]:
# Resample the training data with SMOTEENN
from imblearn.combine import SMOTEENN
smoteenn = SMOTEENN(random_state=1)
X_resampled, y_resampled = smoteenn.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({0: 8748, 1: 8218})

In [104]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(solver='lbfgs', random_state=1)
logreg.fit(X_resampled, y_resampled)

C:\Users\dorto\anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(random_state=1)

In [106]:
# Calculated the balanced accuracy score
y_pred = logreg.predict(X_test)
print(f" SMOTEENN predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 SMOTEENN predictive accuracy: 0.729

In [107]:
# Display the confusion matrix
cm = confusion_matrix(y_test, y_pred)
# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual high_risk", "Actual low_risk"], columns=["Predicted high_risk", "Predicted low_risk"])
cm_df

                  Predicted high_risk  Predicted low_risk
Actual high_risk                 7036                1719
Actual low_risk                  3018                5727

In [108]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.70      0.80      0.65      0.75      0.73      0.53      8755
          1       0.77      0.65      0.80      0.71      0.73      0.52      8745

avg / total       0.73      0.73      0.73      0.73      0.73      0.53     17500

## SMOTE Oversampling

In [110]:
# Resample the training data with SMOTE
from imblearn.over_sampling import SMOTE
smote = SMOTE(random_state=1)
X_resampled, y_resampled = smote.fit_resample(X_train, y_train)
Counter(y_resampled)

Counter({1: 26266, 0: 26266})

In [111]:
# Train the Logistic Regression model using the resampled data
logreg.fit(X_resampled, y_resampled)

C:\Users\dorto\anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(random_state=1)

In [112]:
# Calculated the balanced accuracy score
y_pred = logreg.predict(X_test)
print(f" SMOTE predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 SMOTE predictive accuracy: 0.733

In [113]:
# Display the confusion matrix
cm = confusion_matrix(y_test, y_pred)
# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual high_risk", "Actual low_risk"], columns=["Predicted high_risk", "Predicted low_risk"])
cm_df

                  Predicted high_risk  Predicted low_risk
Actual high_risk                 7105                1650
Actual low_risk                  3021                5724

In [114]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.70      0.81      0.65      0.75      0.73      0.54      8755
          1       0.78      0.65      0.81      0.71      0.73      0.52      8745

avg / total       0.74      0.73      0.73      0.73      0.73      0.53     17500